.article {
  background-color: #eee;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 3px 3px 9px #000;
}

.article__text {
  padding-left: 20px;
  text-align: left;
}

.article__text--important {
  color: #f00;
}

.article__text--centered {
  text-align: center;
}

.article__picturesConteiner {
  text-align: center;
}

.article__pictures {
  width: 90%;
}

.article__listItem {
  list-style: square;
}

.article__switchHeaderButton,
.article__switchBackgroundButton {
  width: 350px;
  background-color: #aaa;
  box-shadow: 3px 3px 9px #000;
  padding: 10px 20px;
  color: #000;
  font-size: 14px;
}

.article__switchHeaderButton,
.article__switchBackgroundButton:hover {
  cursor: pointer;
}

.article__conteinerForTable {
  overflow-x: auto;
}

.article__link {
  text-decoration: none;
}

.article__link:visited {
  color: #444;
}

.article__link:focus {
  outline: 1px solid #444;
}

.article__link:hover {
  cursor: pointer;
  border-bottom: 1px solid #444;
}

.article__link:active {
  color: #000;
}
