.navigation {
  background-color: #eee;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 3px 3px 9px #000;
}

.navigation__listItem {
  list-style: square;
}

.navigation__link {
  text-decoration: none;
}

.navigation__link:visited {
  color: #444;
}

.navigation__link:focus {
  outline: 1px solid #444;
}

.navigation__link:hover {
  cursor: pointer;
  border-bottom: 1px solid #444;
}

.navigation__link:active {
  color: #000;
}
